@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Call the flow:</h1><br />
<div style="align: center">
<p><b>Webserver information:</b>&nbsp;@Model.WebServerData</p>
<p><b>API information:</b>&nbsp;@Model.APIData</p>
</div>
